// header
$height-header: 50px;

// aside
$width-aside: 220px;
$width-aside-collapsed: 54px;

// aside-footer
$height-aside-header: 50px;
$height-aside-footer: 50px;

// aside-padding
$padding-aside: 20px;

// aside-icon
$height-aside-icon: 60%;
$width-aside-icon: 60%;
$margin-aside-icon: 10px;

// aside-svg
$height-aside-svg: 25px;
$width-aside-svg: 25px;

// aside-arrow
$height-aside-arrow: 15px;
$width-aside-arrow: 15px;

// aside-title
$height-aside-title: 56px;

:root {
  --gnb-menu-item-padding-left: calc(
    (#{$width-aside-collapsed} - #{$width-aside-svg}) / 2
  );
  --el-menu-base-level-padding: var(--gnb-menu-item-padding-left);
}
